.item {
  display: block;
}

.link {
  composes: action from "../styles/colors.scss";
  composes: shadowed outline from "../styles/effects.scss";
  composes: large undecorated text from "../styles/typography.scss";

  display: block;
  padding: .5rem 1rem;

  &:focus {
    padding: calc(.5rem - 2px) calc(1rem - 2px);
  }
}
